<ng-template key="body-cell-row-indicator.tpl.html"
			 let-$cell
			 let-$view="$view">
	<ng-container *ngIf="$view.row.canMove">
		<div [qGridDrag]="$view.row.drag"
			 [qGridDragData]="$cell.rowIndex"
			 qGridDropArea="body">
			<mat-icon class="q-grid-icon">drag_indicator</mat-icon>
		</div>
	</ng-container>
	<ng-container *ngIf="$view.row.canResize">
		<div [qGridDrag]="$view.row.resize"
			 [qGridResize]="$cell.row"
			 qGridResizePath="rows"
			 [qGridCanResize]="$view.row.resize.canExecute">
		</div>
	</ng-container>
</ng-template>